<div class="padding-top">

</div>
<div class="padding-top">

</div>

<br />
<br />
<br />
<br />

<div class="product col-sm-4">
  <div class="product-image">
    <% @item.images.each do |i| %>
          <%= image_tag i.image.url %>
    <% end %>
  </div>
</div>
  <div class="product-details col-sm-4">
    <%= @item.brand %>
    <div class="product-title"><%= @item.name %></div>
    <p class="product-description"><%= @item.color %></p>
    <div class="product-bid">
      <% if !@stock.bids.empty? %>
      <span>
        HIGHEST BID: RM<%=  @stock.bids.order('bidding_price ASC').last.bidding_price %>
      </span>
      <% else %>
      <span>
        HIGHEST BID: THERE ARE NO BIDS AT THE MOMENT.
      </span>
      <% end %>
    </div>
    <span class="product-bid">
      LOWEST ASK: RM<%= @stock.resell_price %>
    </span>
    <br />
    <br />
    <div class="container">
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#bid-page">Bid</a></li>
        <li><a data-toggle="pill" href="#buy-page">Buy</a></li>
      </ul>

  </div>
</div>



  <div class="tab-content col-sm-2">
    <div id="bid-page" class="tab-pane fade in active">
      <h3>PLACE BID</h3>
      <%= form_for([@item, @stock, @bid]) do |f| %>
      <% if @errors.present? %>
      <p><% @errors %></p>
      <%end%>


      <div class="field">
        <%= f.label :size %>
        <%= f.label :size, value: @stock.size, readonly: true %>
      </div>

      <div class="field">
        <%= f.label :bidding_price %>
        <%= f.number_field :bidding_price %>
      </div>

      	<br/>
        <div class="actions">
          <%= f.submit "Bid"%>
        </div>
      <% end %>
      </div>

    <div id="buy-page" class="tab-pane fade">
      <h3>BUY NOW</h3>
      <%= form_for([@item, @stock, @bid]) do |f| %>
      <% if @errors.present? %>
      <p><% @errors %></p>
      <%end%>

      <div class="field">
        <%= f.label :size %>
        <%= f.label :size, value: @stock.size, readonly: true %>
      </div>

      <br>
      <%= f.hidden_field :bidding_price, value: @stock.resell_price %>
      <div class="row">
      					<p>Buy Price: </p>
      					<p>RM<%=@stock.resell_price%></p>
      </div>

      	<br/>
        <div class="actions">
          <%= f.submit "Buy Now", name: "buy" %>
        </div>
      <% end %>
      </div>
        </div>
   </div>
</div>

<style>

h3 {
  margin-top: 0px;
}

body {
  color: black;
}


.product-title {
  font-size: 25px;
  font-weight: bold;
}

.product-details {
  font-size: 15px;
}


.product-image {
  height:200px;
}

img {
  height: 100%;
}

.product-details {
  text-align: left;
}
.container {
  padding-left: 0px;
}

.padding-top {
  padding-top: 50px;
}
</style>
