<div class="padding-top">

</div>
<div class="padding-top">

</div>

<br />
<br />
<br />
<br />

<div class="product col-sm-4">
  <div class="product-image">
    <% @item.images.each do |i| %>
          <%= image_tag i.image.url %>
    <% end %>
  </div>
</div>
  <div class="product-details col-sm-4">
    <%= @item.brand %>
    <div class="product-title"><%= @item.name %></div>
    <p class="product-description"><%= @item.color %></p>
    <div class="product-bid">
      <% if !@stock.bids.empty? %>
      <span>
        HIGHEST BID: RM<%=  @stock.bids.order('bidding_price ASC').last.bidding_price %>
      </span>
      <% else %>
      <span>
        HIGHEST BID: THERE ARE NO BIDS AT THE MOMENT.
      </span>
      <% end %>
    </div>
    <span class="product-bid">
      LOWEST ASK: RM<%= @stock.resell_price %>
    </span>
</div>



<div class="tab-content col-sm-2">
  <h3>Ask</h3>
    <%= form_for([@item, @stock]) do |f| %>

      <div class="field">
        <%= f.label :gender %>
        <%= f.select :gender, ['Male', 'Female'] %>
      </div>

      <div class="field">
        <%= f.label :size %>
        <%= f.select :size, ['6', '7', '8', '9', '10', '11', '12', '13', '14'] %>
      </div>

      <div class="field">
        <%= f.label :resell_price %>
        <%= f.number_field :resell_price %>
      </div>

      <div class="field">
        <%= f.label :closing_date %>
        <%= f.date_field :closing_date, min: Date.today.strftime('%Y-%m-%d'), max: (Date.today + 30).strftime('%Y-%m-%d')%>
      </div>

      <div class="actions">
        <%= f.submit "Ask"%>
      </div>

    <% end %>
  </div>
</div>

<style>

h3 {
  margin-top: 0px;
}

body {
  color: black;
}


.product-title {
  font-size: 25px;
  font-weight: bold;
}

.product-details {
  font-size: 15px;
}


.product-image {
  height:200px;
}

img {
  height: 100%;
}

.product-details {
  text-align: left;
}
.container {
  padding-left: 0px;
}

.padding-top {
  padding-top: 50px;
}
</style>
