<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username%>
</p>


<%= link_to 'Edit', edit_user_path(@user) %>

<br><br>
<h3>Bids:</h3>
<br>
<table>
  <tr>
    <th>Item Name</th>
  </tr>
<% @bid.each do |bid| %>
<tr>
  <td><%= link_to bid.item.name, bid.item %></td>
<% end %>
</tr>
</table>

<br>
