<div class="container">
<%= form_for(item, :html => { multipart: true }) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :model_number %>
    <%= f.text_field :model_number %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.number_field :size %>
  </div>

  <div class="field">
    <%= f.label :retail_price %>
    <%= f.number_field :retail_price %>
  </div>

  <div class="field">
    <%= f.label :resell_price %>
    <%= f.number_field :resell_price %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :release_date %>
    <%= f.date_field :release_date %>
  </div>
<br>

<%= f.fields_for :image do |ff| %>
    <div class="field">
      <%= ff.label :image %><br>
      <%= ff.file_field :image, multiple: true, name: "images[]" %>
    </div>
  <% end %>
<br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
