<div id="item-show">
  <div class="row">
    <div class="item-header">
        <%= @item.name %>
      <%= @item.color %>
    </div>
  </div>


  <div class="item-symbols">
    <p>
      TICKER: <%= @item.model_number %> | CONDITION: DEADSTOCK
    </p>
  </div>
  <div class="row">
    <div class="item-options col-sm-3">
      <div class="row">
        <p>
          SIZE
        </p>
      </div>
    </div>
    <div class="item-options col-sm-3">
      <p>
        LAST SALE
      </p>
      <%= button_to "BUY", new_item_stock_bid_path(@item, @item.stocks.order('resell_price DESC').last), class:"myButton", method: "get"%>
      <% if !@item.stocks.empty? %>
      <%= button_to "BUY", new_item_stock_bid_path(@item, @item.stocks.order('resell_price DESC').last), class:"myButton", method: "get"%>

      <% else %>
      <p>
        SORRY! NO STOCK AVAILABLE AT THIS MOMENT.
      </p>
      <% end %>
    </div>
    <div class="item-options col-sm-3">
      <p>
        LOWEST ASK
      </p>
    </div>
    <div class="item-options col-sm-3">
      <p>
        HIGHEST BID
      </p>
      <%= button_to "SELL", new_item_stock_path(@item), class:"myButton2", method: "get"%>
    </div>
  </div>

  <% if @errors.present? %>
  <p><% @errors.each do |x| %>
    <%= x %>
      <% end %>
  </p>
  <%end%>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
          <% @item.images.each do |i| %>
                <%= image_tag i.image.url, style:"width: 100%" %>
          <% end %>
    </div>
  </div>
  <br />

  <div class="item-description col-sm-4">
    <p>
      <strong>COLORWAY:</strong><%= @item.color %>
    </p>
  </div>
  <div class="item-description col-sm-4">
    <p>
      <strong>RETAIL PRICE:</strong><%= @item.retail_price %>
    </p>
  </div>
  <div class="item-description col-sm-4">
    <p>
      <strong>RELEASE DATE:</strong><%= @item.release_date %>
    </p>
  </div>
  <table>
    <tr>
      <th>Size</th>
      <th>Sale Price</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>Peter</td>
      <td>Griffin</td>
      <td>$100</td>
      <td>Test</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>$150</td>
      <td>Test</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
      <td>Test</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
      <td>Test</td>
    </tr>
  </table>

  <br>
  <table>
<div class="graph col-sm-4 col-sm-offset-2 col-md-6">
  <% x = HistoricalTable.uniq.pluck(:model_number) %>

      <% if x.include?(@item.model_number) %>
      <%= @item.model_number %>
        <%= area_chart HistoricalTable.where(model_number: @item.model_number).group(:date_time).maximum(:transacted_price_myr) %>
      <% end %>

</div>
</table>

  <br>

</div>

<% if signed_in? %>
  <% if current_user.role != "admin"%>
    <%= link_to "Sell", new_item_stock_path(@item) %> |
  <% else %>
    <h3>Stocks:</h3>
    <br>
    <table>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Resell Price</th>
        <th>Closing Date</th>
        <th></th>
      </tr>
      <% @item.stocks.each do |stock| %>
      <tr>
      <td><%= stock.id %></td>
      <td><%= stock.user.username %></td>
      <td><%= stock.gender %></td>
      <td><%= stock.size %></td>
      <td><%= stock.resell_price %></td>
      <td><%= stock.closing_date %></td>
      <td><%= link_to "Delete", method: :delete %></td>
      </tr>
      <% end %>
    </table>
    <br>

  <%= link_to 'Edit', edit_item_path(@item) %> |

  <% end %>
<% end %>
<%= link_to 'Back', root_path %>
<br><br><br>
