<% if @errors.present? %>
<p><% @errors.each do |x| %>
  <%= x %>
    <% end %>
</p>
<%end%>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
        <% @item.images.each do |i| %>
              <%= image_tag i.image.url, style:"width: 100%" %>
        <% end %>
  </div>
</div>

<br>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p>
  <strong>Model Number:</strong>
  <%= @item.model_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Retail Price:</strong>
  <%= @item.retail_price %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @item.release_date %>
</p>

<br>
<% if signed_in? %>
  <% if current_user.role != "admin"%>
    <%= link_to "Sell", new_item_stock_path(@item) %> |
  <% else %>
    <h3>Stocks:</h3>
    <br>
    <table>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Resell Price</th>
        <th>Closing Date</th>
        <th></th>
      </tr>
      <% @item.stocks.each do |stock| %>
      <tr>
      <td><%= stock.id %></td>
      <td><%= stock.user.username %></td>
      <td><%= stock.gender %></td>
      <td><%= stock.size %></td>
      <td><%= stock.resell_price %></td>
      <td><%= stock.closing_date.strftime('%d %B %Y') %></td>
      <td><%= link_to "Delete", method: :delete %></td>
      </tr>
      <% end %>
    </table>
    <br>

  <%= link_to 'Edit', edit_item_path(@item) %> |

  <% end %>
<% end %>
<%= link_to 'Back', root_path %>
<br><br><br>
