<div id="item-show">
  <div class="row">
    <div class="item-header">
        <%= @item.name %>
      <%= @item.color %>
    </div>
  </div>

  <div class="item-symbols">
    <p>
      TICKER: <%= @item.model_number %> | CONDITION: DEADSTOCK
    </p>
  </div>
  <div class="row">
    <div class="item-options col-sm-3">
      <div class="row">
        <p>
          SIZE
        </p>
      </div>
    </div>
    <div class="item-options col-sm-3">
      <p>
        LAST SALE
      </p>
      <a href="#" class="myButton">BUY</a>
    </div>
    <div class="item-options col-sm-3">
      <p>
        LOWEST ASK
      </p>
    </div>
    <div class="item-options col-sm-3">
      <p>
        HIGHEST BID
      </p>
      <a href="#" class="myButton2">SELL</a>
    </div>
  </div>

  <% if @errors.present? %>
  <p><% @errors.each do |x| %>
    <%= x %>
      <% end %>
  </p>
  <%end%>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
          <% @item.images.each do |i| %>
                <%= image_tag i.image.url, style:"width: 100%" %>
          <% end %>
    </div>
  </div>
  <br />

  <div class="item-description col-sm-4">
    <p>
      <strong>COLORWAY:</strong><%= @item.color %>
    </p>
  </div>
  <div class="item-description col-sm-4">
    <p>
      <strong>RETAIL PRICE:</strong><%= @item.retail_price %>
    </p>
  </div>
  <div class="item-description col-sm-4">
    <p>
      <strong>RELEASE DATE:</strong><%= @item.release_date %>
    </p>
  </div>
  <table>
    <tr>
      <th>Size</th>
      <th>Sale Price</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td>Peter</td>
      <td>Griffin</td>
      <td>$100</td>
      <td>Test</td>
    </tr>
    <tr>
      <td>Lois</td>
      <td>Griffin</td>
      <td>$150</td>
      <td>Test</td>
    </tr>
    <tr>
      <td>Joe</td>
      <td>Swanson</td>
      <td>$300</td>
      <td>Test</td>
    </tr>
    <tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
      <td>Test</td>
    </tr>
  </table>





  <br>

  <% x = HistoricalTable.uniq.pluck(:model_number) %>
  <%= x %>

  <% x.each do |modelno| %>
  <%= area_chart HistoricalTable.where(model_number: modelno).group(:date_time).sum(:transacted_price) %>
  <% end %>

  <br>

  <% if current_user.role != "admin" %>
  <%= link_to "Sell", new_item_stock_path(@item) %> |
  <%= link_to 'Back', root_path %>
  <% else %>
  <h3>Stocks:</h3>
  <br>
  <table>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Gender</th>
      <th>Size</th>
      <th>Resell Price</th>
      <th>Closing Date</th>
      <th></th>
    </tr>
    <% @item.stocks.each do |stock| %>
    <tr>
    <td><%= stock.id %></td>
    <td><%= stock.user.username %></td>
    <td><%= stock.gender %></td>
    <td><%= stock.size %></td>
    <td><%= stock.resell_price %></td>
    <td><%= stock.closing_date.strftime('%d %B %Y') %></td>
    </tr>
  <% end %>
  </table>

  <br>
  <td><%= link_to "Delete Stock", item_stock_path(@item), method: :delete %></td>

    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Back', root_path %>

  <% end %>
  <br><br><br>

</div>
