<div class="jumbotron" id="jumbo-sneaker">
  <h1 class="logo">Deadstock</h1>
  <p class="lead">Buy and sell authentic sneakers online</p>
  <br/>
  <form>
    <input type="text-search" name="search" placeholder="Search for brand, color etc." style="width: 390px;">
  </form>
</div>
<div class="row">
    <div class="index_graph_row">
      <div class="col-sm-1" style="padding: 80px;">
      </div>
    <div class="index_graph col-sm-3" style="padding: 0px;">
      <div class="index_description col-sm-3" style="padding: 0px;">
        <div class="index-title">
          <strong>JORDAN INDEX</strong>
        </div>
        <div class="index-number" style="color: #41ad33;" style="padding: 0px;">
          +11%
        </div>
        <div class="index-category" style="padding: 0px;">
          6 month turnover
        </div>
        <div class="index-number" style="color: #41ad33; padding: 0px;">
          +64,565
        </div>
        <div class="index-category" style="padding: 0px;">
          Fortnightly change
        </div>
      </div>
      <div class="index_description col-sm-2">
        <%= area_chart IndexTable.group(:index_date).sum(:jordan_index), width: "246px", height: "150px" %>
      </div>
    </div>
    <div class="index_graph col-sm-3" style="padding: 0px;">
      <div class="index_description col-sm-3" style="padding: 0px;">
        <div class="index-title">
          <strong>NIKE INDEX</strong>
        </div>
        <div class="index-number" style="color: #ff5a5f;" style="padding: 0px;">
          -1%
        </div>
        <div class="index-category" style="padding: 0px;">
          6 month turnover
        </div>
        <div class="index-number" style="color: #ff5a5f;" style="padding: 0px;">
          -10,545
        </div>
        <div class="index-category" style="padding: 0px;">
          Fortnightly change
        </div>
      </div>
      <div class="index_description col-sm-2">
        <%= area_chart IndexTable.group(:index_date).sum(:nike_index), width: "246px",height: "150px" %>
      </div>
    </div>
    <div class="index_graph col-sm-3" style="padding: 0px;">
      <div class="index_description col-sm-3" style="padding: 0px;">
        <div class="index-title">
          <strong>ADIDAS INDEX</strong>
        </div>
        <div class="index-number" style="color: #41ad33;" style="padding: 0px;">
          +9%
        </div>
        <div class="index-category" style="padding: 0px;">
          6 month turnover
        </div>
        <div class="index-number" style="color: #41ad33;" style="padding: 0px;">
          +20,182
        </div>
        <div class="index-category" style="padding: 0px;">
          Fortnightly change
        </div>
      </div>
      <div class="index_description col-sm-2">
        <%= area_chart IndexTable.group(:index_date).sum(:adidas_index), width: "246px",height: "150px"%>
      </div>
    </div>
  </div>
</div>


<h1 style="padding-top: 30px;">
  <strong>Most Popular Items</strong>
</h1>

<hr class="style1">
<div class="content">
  <!-- content here -->
  <div class="product-grid product-grid--flexbox">
    <div class="product-grid__wrapper">
      <!-- Product list start here -->
      <% @item.each do |i| %>
      <% if i.category == "Sneakers" %>

      <!-- Single product -->
      <div class="product-grid__product-wrapper">
        <div class="product-grid__product">

          <% i.images.each do |x| %>
          <div class="product-grid__img-wrapper">
            <%= link_to item_path(i) do %>
            <%= image_tag x.image.thumb.url %>
            <% end %>
          </div>
          <% end %>

          <span class="product-grid__title"><%= i.name %></span>
          <span class="product-grid__title"><%= i.color %></span>

          <% table = HistoricalTable.where(model_number: i.model_number).order('date_time DESC') %>
          <% diff = table[0].transacted_price_myr - table[1].transacted_price_myr %>

          <span class="product-grid__price_description"># OF SALES</span>
          <br/>
          <span class="product-grid__price"><%= table.size %></span>

          <div class="product-grid__extend-wrapper">
            <div class="product-grid__extend">
              <p class="product-grid__description"><span class="fa fa-bar-chart" aria-hidden="true"></span>
<%= i.model_number %></p>

              <% if table[0].transacted_price_myr > table[1].transacted_price_myr %>
              <span class="product-up">
                RM<%= table[0].transacted_price_myr.to_i %>
              </span>
              <span class="product-up-2">
                ▲ +<%= diff.to_i %>
              </span>
            <% else %>
              <span class="number_marquee_down">
                RM<%= table[0].transacted_price_myr.to_i %>
              </span>
              <span class="number_marquee_down">
                ▼
                <%= diff.to_i %>
              </span>
              <% end %>

              <span class="product-grid__btn product-grid__view">
                <i class="fa fa-eye"></i>
                View more</span>

            </div>
          </div>

        </div>
      </div>

      <% end %>
      <% end %>
    </div>
  </div>
</div>

<h1>
  <strong>New Lowest Asks</strong>
</h1>
<hr class="style1">
<div class="content">
  <!-- content here -->
  <div class="product-grid product-grid--flexbox">
    <div class="product-grid__wrapper">
      <!-- Product list start here -->

      <% @item.each do |i| %>
      <% if i.category == "Sneakers" && !i.stocks.empty? %>
      <!-- Single product -->
      <div class="product-grid__product-wrapper">
        <div class="product-grid__product">
          <% i.images.each do |x| %>
          <div class="product-grid__img-wrapper">

            <%= link_to item_path(i) do %>
            <%= image_tag x.image.thumb.url %>
            <% end %>
          </div>
          <span class="product-grid__title"><%= i.name %></span>
          <span class="product-grid__title"><%= i.color %></span>
          <span class="product-grid__price_description">LOWEST ASK</span>
          <br/>
          <span class="product-grid__price">RM<%= i.stocks.all.order('resell_price DESC').last.resell_price %></span>
          <div class="product-grid__extend-wrapper">
            <div class="product-grid__extend">
<<<<<<< Updated upstream
              <p class="product-grid__description"><%= i.model_number %></p>
=======
              <p class="product-grid__description"><span class="fa fa-bar-chart" aria-hidden="true"></span>
<%= i.model_number %></p>

              <% if table[0].transacted_price_myr > table[1].transacted_price_myr %>
>>>>>>> Stashed changes
              <span class="product-up">
                RM 1090
              </span>
              <span class="product-up-2">
                ▲ +113
                <span class="product-grid__btn product-grid__view" href="<%= item_path(i) %>">
                  <i class="fa fa-eye"></i>
                  View more</span>
              </div>
            </div>
          </div>
        </div <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <h1>
    <strong>New Highest Bids</strong>
  </h1>
  <hr class="style1">

  <div class="content">
    <!-- content here -->
    <div class="product-grid product-grid--flexbox">
      <div class="product-grid__wrapper">
        <!-- Product list start here -->

        <% @item.each do |i| %>
        <% if i.category == "Sneakers" && !i.stocks.empty? %>
        <% i.stocks.each do |y| %>
        <% if !y.bids.empty?%>
        <!-- Single product -->
        <div class="product-grid__product-wrapper">
          <div class="product-grid__product">
            <% i.images.each do |x| %>
            <div class="product-grid__img-wrapper">

              <%= link_to item_path(i) do %>
              <%= image_tag x.image.thumb.url %>
              <% end %>
            </div>
            <span class="product-grid__title"><%= i.name %></span>
            <span class="product-grid__title"><%= i.color %></span>
            <span class="product-grid__price_description">HIGHEST BID</span>
            <div class="product-grid__price">RM
              <%= y.bids.order('bidding_price ASC').last.bidding_price %></div>
            <div class="product-grid__extend-wrapper">
              <div class="product-grid__extend">
<<<<<<< Updated upstream
                <p class="product-grid__description"><%= i %></p>
=======
                <p class="product-grid__description"><span class="fa fa-bar-chart" aria-hidden="true"></span>
<%= i.model_number %></p>

                <% if table[0].transacted_price_myr > table[1].transacted_price_myr %>
>>>>>>> Stashed changes
                <span class="product-up">
                  RM 1090
                </span>
                <span class="product-up-2">
                  ▲ +113
                  <span class="product-grid__btn product-grid__view" href="<%= item_path(i) %>">
                    <i class="fa fa-eye"></i>
                    View more</span>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% end %>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<<<<<<< Updated upstream
</div>
=======

<br />
<br />
<br />
<br />
>>>>>>> Stashed changes

<style>
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
</style>
