<div class="jumbotron" id="jumbo-sneaker">
  <h1 class="display-3">Deadstock</h1>
  <p class="lead">Buy and sell authentic sneakers online</p>
  <br/>
  <form>
    <input type="text-search" name="search" placeholder="Search for brand, color etc.">
  </form>
</div>
<div class ="index_graph_row">
  <div class="index_graph col-sm-4">
    <h4> 6month turnover +11%  |  Fornightly change +64,565 </h4>
    <%= area_chart IndexTable.group(:index_date).sum(:jordan_index), xtitle: "Jordan Index", width: "440px", height: "200px"%>
    </div>
      <div class="index_graph col-sm-4">
      <h4> 6month turnover -1%  |  Fornightly change -10,545 </h4>
    <%= area_chart IndexTable.group(:index_date).sum(:nike_index), xtitle: "Nike Index",width: "440px",height: "200px" %>
    </div>
      <div class="index_graph col-sm-4">
      <h4> 6month turnover +9%  |  Fornightly change +20,182 </h4>
    <%= area_chart IndexTable.group(:index_date).sum(:adidas_index),xtitle: "Adidas Index", width: "440px",height: "200px"%>
    </div>
  </div>

<h1>
  <strong>Most Popular Items</strong>
</h1>
<hr class="style1">
<div class="content">
  <!-- content here -->
  <div class="product-grid product-grid--flexbox">
    <div class="product-grid__wrapper">
      <!-- Product list start here -->

      <% @item.each do |i| %>
      <% if i.category == "Sneakers" %>
      <!-- Single product -->
      <div class="product-grid__product-wrapper">
        <div class="product-grid__product">
          <% i.images.each do |x| %>
          <div class="product-grid__img-wrapper">
            <%= link_to item_path(i) do %>
            <%= image_tag x.image.thumb.url %>
            <% end %>
          </div>
          <span class="product-grid__title"><%= i.name %></span>
          <span class="product-grid__title"><%= i.color %></span>
          <span class="product-grid__price">RM<%= i.retail_price %></span>
          <div class="product-grid__extend-wrapper">
            <div class="product-grid__extend">
              <p class="product-grid__description"><%= i.model_number %></p>
              <span class="product-grid__btn product-grid__add-to-cart">
                <i class="fa fa-cart-arrow-down"></i>
                Add to cart</span>
              <span class="product-grid__btn product-grid__view">
                <i class="fa fa-eye"></i>
                View more</span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<h1>
  <strong>New Lowest Asks</strong>
</h1>
<hr class="style1">
<div class="content">
  <!-- content here -->
  <div class="product-grid product-grid--flexbox">
    <div class="product-grid__wrapper">
      <!-- Product list start here -->

      <% @item.each do |i| %>
      <% if i.category == "Sneakers" && !i.stocks.empty? %>
      <!-- Single product -->
      <div class="product-grid__product-wrapper">
        <div class="product-grid__product">
          <% i.images.each do |x| %>
          <div class="product-grid__img-wrapper">

            <%= link_to item_path(i) do %>
            <%= image_tag x.image.thumb.url %>
            <% end %>
          </div>
          <span class="product-grid__title"><%= i.name %></span>
          <span class="product-grid__price_description">LOWEST ASK</span>
          <div class="product-grid__price">RM<%= i.stocks.all.order('resell_price DESC').last.resell_price %></div>
          <div class="product-grid__extend-wrapper">
            <div class="product-grid__extend">
              <p class="product-grid__description"><%= i.model_number %></p>
              <span class="product-grid__btn product-grid__add-to-cart">
                <i class="fa fa-cart-arrow-down"></i>
                Add to cart</span>
              <span class="product-grid__btn product-grid__view">
                <i class="fa fa-eye"></i>
                View more</span>
            </div>
          </div>
        </div>
      </div
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<h1>
  <strong>New Highest Bids</strong>
</h1>
<hr class="style1">

<div class="content">
  <!-- content here -->
  <div class="product-grid product-grid--flexbox">
    <div class="product-grid__wrapper">
      <!-- Product list start here -->

      <% @item.each do |i| %>
      <% if i.category == "Sneakers" && !i.stocks.empty? %>
      <% i.stocks.each do |y| %>
      <% if !y.bids.empty?%>
      <!-- Single product -->
      <div class="product-grid__product-wrapper">
        <div class="product-grid__product">
          <% i.images.each do |x| %>
          <div class="product-grid__img-wrapper">

            <%= link_to item_path(i) do %>
            <%= image_tag x.image.thumb.url %>
            <% end %>
          </div>
          <span class="product-grid__title"><%= i.name %></span>
          <span class="product-grid__price_description">HIGHEST BID</span>
          <div class="product-grid__price">RM <%= y.bids.order('bidding_price ASC').last.bidding_price %></div>
          <div class="product-grid__extend-wrapper">
            <div class="product-grid__extend">
              <p class="product-grid__description"><%= i.model_number %></p>
              <span class="product-grid__btn product-grid__add-to-cart">
                <i class="fa fa-cart-arrow-down"></i>
                Add to cart</span>
              <span class="product-grid__btn product-grid__view">
                <i class="fa fa-eye"></i>
                View more</span>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <% end %>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>


